<header>
  <nav class="navbar">
    <div class="nav-logo">rgpv resources</div>
    <ul class="nav-links">
      <li><a href="/pyq">Home</a></li>
      <li><a href="/pyq/about">About</a>
        </li>
      <li><a href="/pyq/contact">Contact Us</a></li>
      <li><a href="/pyq/notes">Notes</a></li>
      <li><a href="/pyq/playlist">Playlist</a></li>
    </ul>
  </nav>
</header>
